#conversation {
    width: 300px;
    height: 600px;
    border: rgb(189, 98, 98) 1px solid;
    background-image: radial-gradient( circle 1294px at -15.5% 23.8%,  rgba(255,206,149,1) 0%, rgba(247,92,92,1) 44.9%, rgba(108,0,96,0.97) 93.8% );
    overflow-x: hidden;
    overflow-y: scroll; 
    padding: 5px;
    margin-left: 10px;
  }
  fieldset {
    width: 330px;
    background-image: radial-gradient( circle 1294px at -15.5% 23.8%,  rgba(255,206,149,1) 0%, rgba(247,92,92,1) 44.9%, rgba(108,0,96,0.97) 93.8% );
    border: rgb(161, 88, 88) 1px solid;
  }    


  .text{
      border-radius: 10px 10px 10px 0px;
  }

  .mess{
      border-radius: 0px 0px 10px 10px;
  }

#send{
    background-image: linear-gradient( 109.6deg,  rgba(232,252,252,1) 11.2%, rgba(252,215,134,1) 56.2%, rgba(247,124,124,1) 100.2% );
}